@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-background;
  @apply text-foreground;
}
.full-screen {
  height: 100svh;
}

.full-screen {
  height: 100svh;
}

.fade-top-down {
  width: 100%;
  position: absolute;
  padding-top: 20px;
  height: 100%;
  background: linear-gradient(0deg, transparent 0%, transparent 70%, #000 100%);
  inset: 0;
  pointer-event: none;
}

.fade-down-top {
  width: 100%;
  position: absolute;
  height: 100%;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 50%,
    #000 100%
  );
  inset: 0;
  pointer-event: none;
}

.fade-right {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(
    90deg,
    #000 0%,
    transparent 10%,
    transparent 90%,
    #000 100%
  );
  inset: 0;
  pointer-event: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
