@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mask{
  mix-blend-mode: difference; /* Inverts colors under it */
  pointer-events: none; /* Ensures the mask doesn't block interactions */
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #000000;
  --price: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
strong {
  @apply text-accent font-bold uppercase;
}

h1 {
  @apply text-7xl md:text-[100px] font-bold font-custom text-balance;
}
h2 {
  @apply text-4xl md:text-5xl font-bold font-custom  text-balance tracking-wider;
}
h3 {
  @apply uppercase font-sans font-bold md:text-xl;
}
p {
  @apply max-w-md font-mono  text-balance md:text-lg;
}
a {
  @apply text-accent  uppercase font-bold;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.full-screen {
  height: 100svh;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grid-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1152px;
  height: calc(100% + 68px);
  overflow: hidden;
  z-index: 0;
  background-color: #ffffff;
}

.grid-lines {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: 60px 60px;
  background-image: linear-gradient(to right, #dadada 1px, transparent 1px),
    linear-gradient(to bottom, #dadada 1px, transparent 1px);
}

.grid-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;

  height: 100%;
  background: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    transparent 0%,
    #fff 60%
  );
  z-index: 0; /* Ensures it stays behind any other content but above the grid lines */
}

@media screen and (min-width: 768px) {
  .grid-lines {
    background-size: 80px 80px;
  }

  .grid-container::after {
    background: radial-gradient(
      ellipse 100% 100% at 50% 50%,
      transparent 0%,
      #fff 50%
    );
  }
}
